.second-row {
    width: 61%;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

.bank-wrapper {
    width: 17.6%;
}

.top {
    display: flex;
    justify-content: space-between;
}

.top .rect {
    display: block;
    border: 2px solid #666666;
    border-bottom: none;
    width: 40%;
    height: 30px;
}

.top .tag {
    display: inline-block;
    margin-left: 15px;
    color: #666666;
}

.bottom {
    border: 2px solid #666666;
    height: 85%;
}